@page "/currentPositions/"

@inject ICurrentPositionRepository _repo 
<h3>CurrentPositions</h3>

@if (Model == null)
{
    <LoadingMessage Message="Loading CurrentPositions..."></LoadingMessage>
}
else
{
    <table class="table table-responsive">
        <thead>
        <tr>
            <th> Ticker </th>
            <th> Company </th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var currentPosition in Model)
        {
            <tr>
                <td>@currentPosition.Ticker</td>
                <td>@currentPosition.Company</td>
                <td>
                    <a href ="/currentPositions/view/@currentPosition.Ticker" class="btn btn-primary">
                        <span class=" oi oi-book"></span>
                    </a>
                    <a href ="/currentPositions/edit/@currentPosition.Ticker" class="btn btn-warning">
                        <span class=" oi oi-pencil"></span>
                    </a>
                    <a class="btn btn-danger">
                        <span class=" oi oi-delete"></span>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IList<CurrentPosition> Model;

    protected async override Task OnInitializedAsync()
    {
        Model = await _repo.Get(Endpoints.CurrentPositionsEndpoint);
    }

}
