@page "/stockEarnings/edit/{ticker}"
@inject IStockEarningRepository _repo
@inject NavigationManager _navigationManager
@inject IToastService _toastService
<h3 class="card-title">Update StockEarning</h3>
<hr />
<br />

@if (isFailed)
{
    <FailureMessage Message="Something went wrong with the update"></FailureMessage>
}

@if (Model == null)
{
    <LoadingMessage Message="Loading StockEarning For Update"></LoadingMessage>
}
else
{
<EditForm Model="Model" OnValidSubmit="UpdateStockEarning">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <div class="form-group">
        <label for="ticker"> Ticker </label>
        <InputText @bind-Value="Model.Ticker" class="form-control" id="ticker"></InputText>
    </div>
    <div class="form-group">
        <label for="company"> Company </label>
        <InputText @bind-Value="Model.Company" class="form-control" id="company"></InputText>
    </div>
    <div class="form-group">
        <label for="earningsDate"> EarningsDate </label>
        <InputDate @bind-Value="Model.EarningsDate" class="form-control" id="earningsDate"></InputDate>
    </div>
    <div class="form-group">
        <label for="earningsCallTime"> EarningsCallTime </label>
        <InputText @bind-Value="Model.EarningsCallTime" class="form-control" id="earningsCallTime"></InputText>
    </div>
    <button class="btn btn-primary" type="submit">
        <span class="oi oi-pencil "></span>
        Update
    </button>

</EditForm>
}
<br />

<button @onclick="BackToList" class="btn btn-outline-secondary">
    <span class="oi oi-media-skip-backward"></span>
    Back To List
</button>



@code {
    [Parameter]
    public string Ticker { get; set; }

    private StockEarning Model = new StockEarning();
    private bool isFailed = false;

    protected override async Task OnInitializedAsync()
    {
        Model = await _repo.Get(Endpoints.StockEarningsEndpoint, Ticker);
    }

    private void BackToList()
    {
        _navigationManager.NavigateTo("/stockEarnings/");
    }

    private async Task UpdateStockEarning()
    {
        bool isSuccess = await _repo.Update(Endpoints.StockEarningsEndpoint, Ticker, Model);
        if (isSuccess)
        {
            _toastService.ShowSuccess("StockEarning updated successfully");
            BackToList();
        }
        else
        {
            isFailed = true;
        }
    }


}
